body{
  background-color: black;
}

/* p {
  color: white;
} */

h1, h2 {
  font-family: Lato;
  color: red;
 
}

.classapp {
  color: orange;
}


.classapp2 {
  color: yellowgreen;
}

#idclass{
  color: violet
}